<!DOCTYPE html>
<html>
<head>
    <title>Forecast Retriever</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% stylesheets '@bootstrap_css' 'css/*' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
</head>
<body>
<div class="container-fluid">
    <div class="navbar navbar-inverse">
        <div class="navbar-inner">
            <a class="brand" href="">Yahoo Weather Forecasts</a>
        </div>
    </div>
    <div class="span3">
        <!--Sidebar content-->

        <div class="input-append">
            {{ form_widget(zipCodeForm.zipCode) }}
            <button class="btn btn-info" type="button" id="searchZip">Go!</button>
        </div>

            {{ form_label(zipCodeForm.cacheResult) }}
            {{ form_widget(zipCodeForm.cacheResult) }}

        <div id="circularG">
            <div id="circularG_1" class="circularG">
            </div>
            <div id="circularG_2" class="circularG">
            </div>
            <div id="circularG_3" class="circularG">
            </div>
            <div id="circularG_4" class="circularG">
            </div>
            <div id="circularG_5" class="circularG">
            </div>
            <div id="circularG_6" class="circularG">
            </div>
            <div id="circularG_7" class="circularG">
            </div>
            <div id="circularG_8" class="circularG">
            </div>
        </div>
    </div>
    <div class="span9" id="yahooResults">
        <!--Body content-->
        <legend id="mylegend">Get local conditions</legend>
        <img src="/img/Yahoo-Weather.jpg">
    </div>
</div>

{% javascripts '@jquery' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
<script type="text/javascript">

    $("#searchZip").click(
        function(){

            url = '';
            zipCode = $("#{{ zipCodeForm.zipCode.vars.id }}").val().replace(/\s+/g, '');
            cacheResult = $("#{{ zipCodeForm.cacheResult.vars.id }}");

            if (cacheResult.is(":checked"))
            {
                url = "http://local.phunware:3000/forecasts/cache/" + zipCode;
            }
            else
            {
                url = "http://local.phunware:3000/forecasts/" + zipCode;
            }
            $.ajax({
                type: "GET",
                url: url,
                beforeSend: function(){$("#circularG").show();}
            }).done(
                function(data){
                    xmlDoc = $.parseXML( data ),
                    xml = $( xmlDoc ),
                    title = xml.find( "title" );
                    desc = xml.find( "description" );
                    $("#yahooResults").html('<legend id="mylegend">'
                            + title.text()
                            + '</legend>'
                            + desc.text());

                }).always(
                    function(){
                        $("#circularG").hide();
                    });
        }
    );

    $("#{{ zipCodeForm.zipCode.vars.id }}").keyup(
            function(event)
            {
                if(event.keyCode == 13)
                {
                    $("#searchZip").click();
                }
            }
    );

    $(document).on("click", "#yahooResults a",
        function(event)
        {
            window.open($(this).attr('href'));
            return false;
        }
    );
</script>
</body>
</html>